:host {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: stretch;
  align-items: stretch;
  gap: 24px;
  overflow: auto;
}
.card {
  height: max-content;
  min-width: 320px;
}
.media-content {
  min-height: 400px;
  max-height: 400px;
}
.actions-content {
  min-width: 50px;
  min-height: 40px;
}
.image {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
