<igx-card class="card">
  <igx-card-media height="400px" class="media-content">
    <img src="/assets/image5.png" class="image" />
  </igx-card-media>
  <igx-card-header>
    <h3 igxCardHeaderTitle>
      Title goes here...
    </h3>
    <h5 igxCardHeaderSubtitle>
      Subtitle goes here...
    </h5>
  </igx-card-header>
  <igx-card-actions class="actions-content">
    <ng-container igxStart>
      <button igxButton="flat" type="button" igxRipple class="button">
        Button
      </button>
    </ng-container>
    <ng-container igxEnd>
      <button igxRipple igxIconButton="flat">
        <igx-icon>
          favorite
        </igx-icon>
      </button>
      <button igxRipple igxIconButton="flat">
        <igx-icon>
          bookmark
        </igx-icon>
      </button>
      <button igxRipple igxIconButton="flat">
        <igx-icon>
          share
        </igx-icon>
      </button>
    </ng-container>
  </igx-card-actions>
</igx-card>
<igx-card class="card">
  <igx-card-media height="400px" class="media-content">
    <img src="/assets/image3.png" class="image" />
  </igx-card-media>
  <igx-card-header>
    <h3 igxCardHeaderTitle>
      Title goes here...
    </h3>
    <h5 igxCardHeaderSubtitle>
      Subtitle goes here...
    </h5>
  </igx-card-header>
  <igx-card-actions class="actions-content">
    <ng-container igxStart>
      <button igxButton="flat" type="button" igxRipple class="button">
        Button
      </button>
    </ng-container>
    <ng-container igxEnd>
      <button igxRipple igxIconButton="flat">
        <igx-icon>
          favorite
        </igx-icon>
      </button>
      <button igxRipple igxIconButton="flat">
        <igx-icon>
          bookmark
        </igx-icon>
      </button>
      <button igxRipple igxIconButton="flat">
        <igx-icon>
          share
        </igx-icon>
      </button>
    </ng-container>
  </igx-card-actions>
</igx-card>
<igx-card class="card">
  <igx-card-media height="400px" class="media-content">
    <img src="/assets/image2.png" class="image" />
  </igx-card-media>
  <igx-card-header>
    <h3 igxCardHeaderTitle>
      Title goes here...
    </h3>
    <h5 igxCardHeaderSubtitle>
      Subtitle goes here...
    </h5>
  </igx-card-header>
  <igx-card-actions class="actions-content">
    <ng-container igxStart>
      <button igxButton="flat" type="button" igxRipple class="button">
        Button
      </button>
    </ng-container>
    <ng-container igxEnd>
      <button igxRipple igxIconButton="flat">
        <igx-icon>
          favorite
        </igx-icon>
      </button>
      <button igxRipple igxIconButton="flat">
        <igx-icon>
          bookmark
        </igx-icon>
      </button>
      <button igxRipple igxIconButton="flat">
        <igx-icon>
          share
        </igx-icon>
      </button>
    </ng-container>
  </igx-card-actions>
</igx-card>
<igx-card class="card">
  <igx-card-media height="400px" class="media-content">
    <img src="/assets/image4.png" class="image" />
  </igx-card-media>
  <igx-card-header>
    <h3 igxCardHeaderTitle>
      Title goes here...
    </h3>
    <h5 igxCardHeaderSubtitle>
      Subtitle goes here...
    </h5>
  </igx-card-header>
  <igx-card-actions class="actions-content">
    <ng-container igxStart>
      <button igxButton="flat" type="button" igxRipple class="button">
        Button
      </button>
    </ng-container>
    <ng-container igxEnd>
      <button igxRipple igxIconButton="flat">
        <igx-icon>
          favorite
        </igx-icon>
      </button>
      <button igxRipple igxIconButton="flat">
        <igx-icon>
          bookmark
        </igx-icon>
      </button>
      <button igxRipple igxIconButton="flat">
        <igx-icon>
          share
        </igx-icon>
      </button>
    </ng-container>
  </igx-card-actions>
</igx-card>
