<div class="column-layout group">
  <button igxButton="outlined" type="button" igxRipple [igxToggleAction]="dialog" class="button">
    OPEN DIALOG
  </button>
  <button igxRipple igxIconButton="flat">
    <igx-icon>
      email
    </igx-icon>
  </button>
  <button igxRipple igxIconButton="flat" class="icon-button">
    <igx-icon class="icon">
      email
    </igx-icon>
  </button>
  <igx-date-picker type="border" mode="dialog" class="date-picker">
    <label igxLabel>Date</label>
  </igx-date-picker>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
</div>
<igx-dialog [closeOnOutsideSelect]="true" #dialog>
  <igx-dialog-title>
    <h5>
      Confirmation
    </h5>
  </igx-dialog-title>
  <ng-container>
    <p class="text">
      This is a simple custom dialog
    </p>
  </ng-container>
  <igx-dialog-actions>
    <button igxButton="contained" type="button" igxRipple class="button_1">
      ADD PRODUCT
    </button>
    <button igxButton="flat" type="button" igxRipple class="button_1">
      Cancel
    </button>
  </igx-dialog-actions>
</igx-dialog>
<div class="column-layout group">
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <igx-date-picker type="border" mode="dialog" class="date-picker">
    <label igxLabel>Date</label>
  </igx-date-picker>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
</div>
<div class="column-layout group">
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <igx-date-picker type="border" mode="dialog" class="date-picker">
    <label igxLabel>Date</label>
  </igx-date-picker>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
</div>
<div class="column-layout group">
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <igx-date-picker type="border" mode="dialog" class="date-picker">
    <label igxLabel>Date</label>
  </igx-date-picker>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
</div>
<div class="column-layout group">
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <igx-date-picker type="border" mode="dialog" class="date-picker">
    <label igxLabel>Date</label>
  </igx-date-picker>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
  <button igxButton="outlined" type="button" igxRipple class="button">
    Button
  </button>
</div>
