<div class="column-layout group">
  <button igxButton="contained" type="button" igxRipple [igxToggleAction]="dialog" class="button">
    OPEN DIALOG
  </button>
  <button igxButton="outlined" type="button" igxRipple [igxToggleAction]="banner" class="button_1">
    SHOW BANNER
  </button>
  <button igxButton="outlined" type="button" igxRipple [igxToggleAction]="snackbar" class="button_1">
    SHOW SNACKBAR
  </button>
  <igx-buttongroup class="user-input">
    <button igxButton igxRipple>
      Button
    </button>
    <button igxButton igxRipple>
      Button
    </button>
    <button igxButton igxRipple>
      Button
    </button>
  </igx-buttongroup>
  <igx-chip class="chip">
    <igx-prefix>
      <igx-icon class="icon">
        place
      </igx-icon>
    </igx-prefix>
    Country
  </igx-chip>
  <igx-switch class="switch">
    Label
  </igx-switch>
  <igx-switch [(ngModel)]="checked" class="switch">
    Label
  </igx-switch>
  <div class="row-layout group_1">
    <button igxRipple igxIconButton="flat">
      <igx-icon>
        email
      </igx-icon>
    </button>
    <button igxRipple igxIconButton="flat" class="icon-button">
      <igx-icon class="icon_1">
        email
      </igx-icon>
    </button>
  </div>
  <igx-tree class="tree">
    <igx-tree-node [expanded]="true">
      <igx-tree-node [expanded]="true">
        Figma
      </igx-tree-node>
      <igx-tree-node [expanded]="true">
        Adobe XD
      </igx-tree-node>
      <igx-tree-node [expanded]="true">
        Sketch
      </igx-tree-node>
      Design
    </igx-tree-node>
    <igx-tree-node [expanded]="true">
      <igx-tree-node [expanded]="true">
        Angular
      </igx-tree-node>
      <igx-tree-node [expanded]="true">
        Blazor
      </igx-tree-node>
      <igx-tree-node [expanded]="true">
        Web components
      </igx-tree-node>
      Development
    </igx-tree-node>
  </igx-tree>
  <igx-banner #banner class="notification">
    <p>
      Banner message
    </p>
    <igx-banner-actions>
      <button igxButton="flat" type="button" igxRipple class="button_1">
        Button
      </button>
    </igx-banner-actions>
    <igx-icon class="icon_2">
      mail
    </igx-icon>
  </igx-banner>
</div>
<igx-dialog [closeOnOutsideSelect]="true" #dialog>
  <igx-dialog-title>
    <h5>
      Confirmation
    </h5>
  </igx-dialog-title>
  <ng-container>
    <p class="text">
      This is a simple custom dialog
    </p>
  </ng-container>
  <igx-dialog-actions>
    <button igxButton="contained" type="button" igxRipple class="button_1">
      ADD PRODUCT
    </button>
    <button igxButton="flat" type="button" igxRipple class="button_1">
      Cancel
    </button>
  </igx-dialog-actions>
</igx-dialog>
<div class="column-layout group_2">
  <igx-card class="card">
    <igx-card-media height="200px" class="media-content">
      <img src="/assets/design%20system.png" class="image" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Title goes here...
      </h3>
      <h5 igxCardHeaderSubtitle>
        Subtitle goes here...
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="ig-typography__body-2 text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur soluta nulla asperiores, officia ullam recusandae voluptatem omnis perferendis vitae non magni magnam praesentium placeat nemo quas repudiandae. Nisi, quo ex!
      </p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxButton="flat" type="button" igxRipple class="button_1">
          Button
        </button>
      </ng-container>
      <ng-container igxEnd>
        <button igxRipple igxIconButton="flat">
          <igx-icon>
            favorite
          </igx-icon>
        </button>
        <button igxRipple igxIconButton="flat">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxRipple igxIconButton="flat">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
</div>
<div class="column-layout group_2">
  <igx-stepper titlePosition="bottom" #stepper class="stepper">
    <igx-step [isValid]="false">
      <div igxStepContent class="column-layout step-content">
        <p class="ig-typography__body-2 text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur soluta nulla asperiores, officia ullam recusandae voluptatem omnis perferendis vitae non magni magnam praesentium placeat nemo quas repudiandae. Nisi, quo ex!
        </p>
        <div class="row-layout group_3">
          <button igxButton="contained" type="button" igxRipple (click)="stepper.next()" class="button_2">
            Next
          </button>
        </div>
      </div>
      <p igxStepTitle>Address</p>
    </igx-step>
    <igx-step [isValid]="false">
      <div igxStepContent class="column-layout step-content">
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur soluta nulla asperiores, officia ullam recusandae voluptatem omnis perferendis vitae non magni magnam praesentium placeat nemo quas repudiandae. Nisi, quo ex!
        </p>
        <div class="row-layout group_3">
          <button igxButton="contained" type="button" igxRipple (click)="stepper.prev()" class="button_2">
            Prev
          </button>
          <button igxButton="contained" type="button" igxRipple (click)="stepper.next()" class="button_2">
            Next
          </button>
        </div>
      </div>
      <p igxStepTitle>Item</p>
    </igx-step>
    <igx-step [optional]="true">
      <div igxStepContent class="column-layout step-content">
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur soluta nulla asperiores, officia ullam recusandae voluptatem omnis perferendis vitae non magni magnam praesentium placeat nemo quas repudiandae. Nisi, quo ex!
        </p>
        <div class="row-layout group_3">
          <button igxButton="contained" type="button" igxRipple (click)="stepper.prev()" class="button_2">
            Prev
          </button>
          <button igxButton="contained" type="button" igxRipple (click)="stepper.reset()" class="button_2">
            Reset
          </button>
        </div>
      </div>
      <p igxStepTitle>Wrap</p>
      <p igxStepSubTitle>(Optional)</p>
    </igx-step>
  </igx-stepper>
  <div class="column-layout group_4">
    <igx-slider [minValue]="0" [maxValue]="100" [step]="10" [secondaryTickLabels]="false" [(ngModel)]="value" class="slider"></igx-slider>
    <igx-slider [minValue]="0" [maxValue]="100" [step]="10" [secondaryTickLabels]="false" [(ngModel)]="value" class="slider"></igx-slider>
    <igx-slider [minValue]="0" [maxValue]="100" [step]="10" [secondaryTickLabels]="false" [(ngModel)]="value" class="slider"></igx-slider>
    <igx-slider [minValue]="0" [maxValue]="100" [step]="10" [secondaryTickLabels]="false" [(ngModel)]="value" class="slider"></igx-slider>
  </div>
</div>
<div class="column-layout group_5">
  <igx-input-group type="border" class="user-input">
    <input type="text" igxInput />
    <label igxLabel>Label</label>
  </igx-input-group>
  <igx-input-group type="box" class="user-input">
    <input type="text" igxInput />
    <label igxLabel>Label</label>
  </igx-input-group>
  <igx-select type="border" class="user-input">
    <igx-select-item value="Option">
      Option
    </igx-select-item>
    <label igxLabel>First Select</label>
  </igx-select>
  <igx-select type="border" class="user-input">
    <igx-select-item value="Option">
      Option
    </igx-select-item>
    <label igxLabel>Copied and Pasted 1s Select</label>
  </igx-select>
  <igx-date-picker type="border" mode="dialog" class="date-picker">
    <label igxLabel>Date</label>
  </igx-date-picker>
  <igx-date-picker type="border" mode="dialog" class="date-picker">
    <label igxLabel>Date</label>
  </igx-date-picker>
</div>
<igx-snackbar actionText="Action" [igxToggleAction]="snackbar" #snackbar class="notification">
  This is a message
</igx-snackbar>
