:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 32px;
  width: 400px;
  min-width: 50px;
  min-height: 50px;
  max-width: 400px;
}
.button {
  --igx-button-background: var(--ig-secondary-200);
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
.date-picker {
  height: max-content;
  min-width: 120px;
}
.button_1 {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
.icon-button {
  --igx-button-foreground: var(--ig-surface-500);
  --igx-button-background: var(--ig-secondary-500);
}
.icon {
  color: var(--ig-surface-500);
}
.text {
  height: max-content;
  min-width: min-content;
}
