<igx-navbar class="navbar">
  <igx-navbar-action>
    <button igxRipple igxIconButton="flat" [igxToggleAction]="navDrawer" class="icon-button">
      <igx-icon class="icon">
        menu
      </igx-icon>
    </button>
  </igx-navbar-action>
  <igx-navbar-title class="navbar-content">
    <h6 class="h6">
      App Name
    </h6>
  </igx-navbar-title>
  <button igxRipple igxIconButton="flat">
    <igx-icon>
      search
    </igx-icon>
  </button>
  <button igxRipple igxIconButton="flat">
    <igx-icon>
      favorite
    </igx-icon>
  </button>
  <button igxRipple igxIconButton="flat">
    <igx-icon>
      more_vert
    </igx-icon>
  </button>
</igx-navbar>
<div class="row-layout group">
  <igx-nav-drawer [pin]="true" width="200px" #navDrawer class="nav-drawer">
    <ng-template igxDrawer>
      <div igxDrawerItem igxRipple routerLink="/view1">
        <igx-icon family="imx-icon" name="imx-usa-party-democratic" class="icon_1"></igx-icon>
        <span>Material Ext Icon</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/view2">
        <igx-icon class="icon_1">
          dns
        </igx-icon>
        <span>Lala</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/view3">
        <igx-icon class="icon_1">
          dashboard
        </igx-icon>
        <span>View 3</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/child-view">
        <igx-icon class="icon_1">
          dashboard
        </igx-icon>
        <span>Image Assets</span>
      </div>
    </ng-template>
  </igx-nav-drawer>
  <div class="view-container">
    <router-outlet></router-outlet>
  </div>
  <igx-nav-drawer [pin]="true" width="200px" class="nav-drawer">
    <ng-template igxDrawerMini>
      <div igxDrawerItem igxRipple routerLink="/view3">
        <igx-icon class="icon_1">
          dashboard
        </igx-icon>
      </div>
      <div [isHeader]="true" igxDrawerItem igxRipple routerLink="/view1">
        <igx-icon class="icon_1">
          home
        </igx-icon>
      </div>
      <div igxDrawerItem igxRipple routerLink="/view1">
        <igx-icon class="icon_1">
          home
        </igx-icon>
      </div>
      <div igxDrawerItem igxRipple routerLink="/view2">
        <igx-icon class="icon_1">
          dns
        </igx-icon>
      </div>
    </ng-template>
    <ng-template igxDrawer>
      <div igxDrawerItem igxRipple routerLink="/view1">
        <igx-icon class="icon_1">
          home
        </igx-icon>
        <span>Nav Item 1</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/view2">
        <igx-icon class="icon_1">
          dns
        </igx-icon>
        <span>Nav Item 2</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/view3">
        <igx-icon class="icon_1">
          dashboard
        </igx-icon>
        <span>Nav Item 3</span>
      </div>
    </ng-template>
  </igx-nav-drawer>
</div>
